.portfolio{
    position: relative;

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: #f2e3bc;
        font-size: 36px;

        .progress-bar{
            height: 10px;
            background-color: white;
        }
    }
}